# Dependencies
node_modules/
.pnpm-store/

# Build artifacts
dist/
dist-ssr/
*.local
src-tauri/target/

# Binaries & Logs
*.exe
*.dll
*.log
app.log

# Environment secrets
.env
.env.*
!.env.example

# IDE & OS
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/
